.App {
  
    margin: 0 auto;
    padding: 25px;
  }


  
  
  .item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%;
    margin-top: 5%;
  }
  
  .employee-card {
    width: calc(25.33% - 10px); 
    display: flex; 
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    width: 80px;
    height: 80px;
    text-align: center;
    border: solid 1px gray;
    border-radius: 50%;
  }
  
  .image-container svg {
    padding-top: 25%;
    max-width: 100%; 
    max-height: 100%;
  }
  
  .text-container {
    flex: 1; 
    padding: 10px;
    text-align: left;
  }
  
  .employee-card h2 {
    font-size: 14px;
    margin: 10px 0;
   
  }

  
/* ArticlePage.css */

.article-item-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}


.item-card {
  flex: 0 0 calc(33.33% - 20px); /* Calculate the width for each item in a row */
  max-width: calc(33.33% - 20px); /* Set a maximum width */
  height: 0; /* Initially set height to 0 */
  padding-bottom: 33.33%; /* Maintain a 1:1 aspect ratio (square) */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;


  &:hover {
    transform: translateY(-5px);
  }
}



.item-header {
  padding-top: 5%;
  padding-left: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.item-date {
  font-size: 14px;
 
}

.item-version {
  font-size: 14px;
  padding: 8px;
  padding-left: 10px;
}

.new-button {
  display: flex;
  align-self: center;
justify-self: flex-start;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.item-content {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  justify-content: space-around;
}

.name-picture{
   display: flex;
   align-items: center;
  padding-right: 10px;
}



.item-details {
 display: inline-block;
  color: rgb(198, 198, 198);
  position: relative;
  height: 153px; 
}
.item-details p {
 text-align: left;
 padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
 }
 

.item-content p {
  font-size: 20px;
  padding-left: 20px;

}

.download-button {
  display: flex;
  margin-left: 10%;
  align-self: flex-start;
  padding-left: 20%;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  padding: 10px 40px;
  border-radius: 23px;
  cursor: pointer;
  vertical-align: bottom;
  margin-bottom: 15%;

}

/* Media Queries */
/* Media Queries for 768px width */
@media screen and (max-width: 768px) {

  .item-card {
    max-width: calc(40% - 10px); 
  }
}

@media (max-width: 480px) {
  

  .article-item-container {
    flex-direction: column; /* Change flex-direction to row for wider layout */
  }
  .item-card {
    max-width: calc(100% - 15px); /* One item per row for screens 400px or more */
    padding-bottom: 0%; /* Maintain a 1:1 aspect ratio (square) for one item per row */
  }
}





@media screen and (max-width: 768px) {
  .employee-card {
    width: calc(40% - 10px); 
  }
}



@media screen and (max-width: 480px) {
  .employee-card {
    width: 100%; 
  }
}