.App {
    display: flex;
    justify-content: space-between; 
    margin: 0 auto;
    padding: 25px;
  }
  
  .item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%;
    margin-top: 5%;
  }
  
  .employee-card {
    width: calc(25.33% - 10px); 
    display: flex; 
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .image-container {
    width: 80px;
    height: 80px;
    text-align: center;
    border: solid 1px gray;
    border-radius: 50%;
  }
  
  .image-container svg {
    padding-top: 25%;
    max-width: 100%; 
    max-height: 100%;
  }
  
  .text-container {
    flex: 1; 
    padding: 10px;
    text-align: left;
  }
  
  .employee-card h2 {
    font-size: 14px;
    margin: 10px 0;
   
  }
  
  .employee-card p {
    font-size: 10px;
  }